<%- include('./partials/header') %>
<br><br>
<div class="about-header1">
<h4><i>Money Minder Will Help You Save Now So You Can Spend Later!</i></h4>
<br>
</div>
<div class="about-header2">
<h1>About The Money Minder App</h1>
</div>
<br>
<div class="about-header3">
<p>Welcome to the Money Minder App!</p>
</div>
<br><br>
<p>This app is designed to help you manage your finances effectively by allowing you to create budgets, track expenses, and analyze your spending habits.</p>
<p>Key features include:</p>
<ul>
    <li>Creating and managing multiple budgets</li>
    <li>Adding and categorizing expenses</li>
    <li>Tracking spending habits in a convenient fashion</li>
    <!-- Other key features -->
</ul>
<p>Our goal is to provide you with a simple and intuitive tool to assist you in managing your finances and reaching your financial goals.</p>
<p>Feel free to explore the app and start taking control of your finances today!</p>
<br>
<!-- <h4><u>Additional Resources</u></h4> -->

<%- include('./partials/footer') %>