body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

th {
  text-decoration: underline;
}

td {
  text-align: center;
  height: 35px
}

button {
  font-size: 18px;
}

table {
  border: 12px solid black;
}

.about-header1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.about-header2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
}

.about-header3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.budget-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.budget-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
}